<apex:page controller="AccountMassUpdate" showHeader="false" sidebar="false">
    <apex:form >
        <apex:pageBlock >
                <apex:pageBlockSection >
                <apex:inputText value="{!aaname}"/>
                
            </apex:pageBlockSection>
            <apex:commandButton action="{!doSave}" value="Save"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>