<apex:page controller="AccountPickList">
    <apex:stylesheet value="{!URLFOR($Resource.SLDS,'assets/styles/salesforce-lightning-design-system-vf.css')}"/>
    <apex:form >
        <div class="slds">
            <div class="slds-form-element">
                <label class="slds-form-element__label">Countries</label>
                <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <apex:selectList size="1" styleClass="slds-select">
                            <apex:selectOptions value="{!picklist}" />
                        </apex:selectList>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
</apex:page>