<apex:page controller="AccountCase_Report"  sidebar="false" >
  <apex:form >
    <apex:pageBlock title="Case report">
        <table border="1">
        <!--<apex:repeat value="{!casemap}" var="cs1"> 
        <apex:repeat value="{!casemap[cs1]}" var="cs"> 
            <tr>
            
                
                <th> {!cs} </th>
                
           
            
            </tr>
             </apex:repeat>
            </apex:repeat>-->
            <th> Account Name</th>
            <th> New </th>
            <apex:repeat value="{!casemap}" var="cs1">  
            <tr>
                <td>{!cs1} </td>
                <apex:repeat value="{!casemap[cs1]}" var="cs2">
                    <td> {!casemap[cs1][cs2]} </td>
                </apex:repeat>
            </tr> 
            </apex:repeat>
           <tr> 
            <td> Total : </td>  
                <apex:repeat value="{!statuscount}" var="SC">
                      <td>  <apex:outputText value="{!IF(SC == cs2 ,statuscount[SC],'')}"/></td>
                </apex:repeat> 
            </tr>
        </table>
     </apex:pageBlock>
  </apex:form>
</apex:page>