<apex:page controller="AccountClass" sidebar="false">
    <apex:form >
    	<apex:pageBlock >
            <apex:outputLabel value="Enter name"/>
            <apex:inputText value="{!aname}"/>
            <apex:commandButton value="Search" action="{!dosearch}"/>
        	<apex:pageBlockTable value="{!accwrap}" var="c">
                <apex:column >
                	<apex:inputCheckbox value="{!c.check}"/>
                </apex:column>
                <apex:column headerValue="Account Name" value="{!c.acc.name}"/>
            </apex:pageBlockTable>
            <apex:commandButton value="Next" action="{!selectedAccount}"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>