<apex:page controller="CaseCountofAccounts" sidebar="false">
  <apex:form >
  <apex:variable value="{!0}" var="TotRecords"/>
      <apex:pageBlock title="Case Count for Account">
              <apex:pageBlockTable value="{!casecountmap}" var="qq" >
                  <apex:column headerValue="Account Name">
                          <apex:outputText value="{!qq}"/>
                          <apex:facet name="footer">
                              Grand Total
                          </apex:facet>
                  </apex:column>
                  <apex:column headerValue="Case Count">
                      <apex:outputText value="{!casecountmap[qq]}" />
                      <apex:variable var="TotRecords" value="{!casecountmap[qq] + TotRecords}"/>
                      <apex:facet name="footer">
                          <span class="t1"/>
                      </apex:facet>
                  </apex:column>
              </apex:pageBlockTable>
      </apex:pageBlock>
      <script>
            document.getElementsByClassName('t1')[0].innerHTML = '{!TotRecords}';
      </script>
  </apex:form>
</apex:page>