<apex:page controller="ChartController">
   <apex:form >
 <apex:sectionHeader description="Enter Growth Rate For Each Year"/>
 
 <apex:pageBlock >
 
 <apex:pageBlockSection columns="4">
 <apex:inputText onchange="RefereshChart();" value="{!num1}" label="2013"/>
 <apex:inputText onchange="RefereshChart();" value="{!num2}" label="2014"/>
 </apex:pageBlockSection>
 
 </apex:pageBlock>
 
 <apex:actionFunction name="RefereshChart" reRender="chartPanel1"/>
 </apex:form>
 
 <br/>
 <apex:outputPanel id="chartPanel1">
 <apex:chart data="{!data}" height="400" width="500" >

 // Y axis
 <apex:axis type="Numeric" position="left" title="Growth Rate" grid="true" fields="growthRate" dashSize="2">
   <apex:chartLabel />
 </apex:axis>
 
 // X axis
 <apex:axis type="Category" position="bottom" fields="year" title="Year"> 
 <apex:chartLabel rotate="315"/> 
 </apex:axis> 

 <apex:barSeries orientation="vertical" axis="left" stacked="true" xField="year" yField="growthRate" /> 

 </apex:chart> 

</apex:outputPanel> 
</apex:page>