<apex:page controller="DisplayAccRecFfromTargetOrg" sidebar="false">
    <apex:form >
        <apex:pageBlock title="Account Records">
            <apex:outputLabel value="Account Name : "></apex:outputLabel>
            <apex:inputText value="{!accountname}"/>
            <apex:commandButton value="Search" action="{!doSearch}"/>
            <apex:outputPanel rendered="{!check}">
                <apex:pageBlockTable value="{!wrapinner}" var="a">
                    <apex:column headerValue="Account name" value="{!a.name}"/>
                    <apex:column headerValue="Phone" value="{!a.phone}"/>
                </apex:pageBlockTable>
            </apex:outputPanel>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>