<apex:page controller="PaginationWithFilter">
<apex:form >
    <apex:commandButton value="submit" action="{!doget}"/>
    <apex:inputText value="{!aname}"/>
    <apex:pageBlock id="details">
        
        <apex:pageblockTable value="{!acc}" var="m">
            <apex:column value="{!m.Name}"/>
            <apex:column value="{!m.phone}"/>            
        </apex:pageblockTable>
        <apex:pageblockButtons >
            <apex:commandButton value="First" rerender="details" action="{!beginning}" disabled="{!prev}"/>
            <apex:commandButton value="Previous" rerender="details" action="{!previous}" disabled="{!prev}"/>
            <apex:commandButton value="Next" rerender="details" action="{!next}" disabled="{!nxt}"/>
            <apex:commandButton value="Last" rerender="details" action="{!end}" disabled="{!nxt}"/>                                    
        </apex:pageblockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>