<apex:page controller="paginationcontroller" >
  <apex:form >
    <apex:pageBlock id="details" title="All Accounts">
    
        <apex:outputLabel value="Account Name : "/>
        <apex:inputText value="{!aname}"/>
        <apex:commandButton value="Search" action="{!doSearch}" reRender="Details"/>
        
        <apex:pageblockTable value="{!wrapaccs}" var="a">
            <apex:column headerValue="Account Selection" >
                <apex:inputCheckbox value="{!a.selected}"/>
            </apex:column>
            <apex:column value="{!a.acc.Name}"/>         
        </apex:pageblockTable>
        
        <apex:pageblockButtons >
            <apex:commandButton value="<<" rerender="details" action="{!beginning}" disabled="{!prev}"/>
            <apex:commandButton value="<" rerender="details" action="{!previous}" disabled="{!prev}"/>
            <apex:commandButton value=">" rerender="details" action="{!next}" disabled="{!nxt}"/>
            <apex:commandButton value=">>" rerender="details" action="{!end}" disabled="{!nxt}"/>
            <apex:commandButton value="Selected Accounts" action="{!processSelected}"/>                                    
        </apex:pageblockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>