<apex:page controller="TotalRecordCount" showHeader="false" sidebar="false">
<apex:form >
<apex:pageBlock >
    <table border = "1">
        <tr> 
            <th> Dates </th>
            <apex:repeat value="{!mstmap}" var="key" >  
              <th> {!key} </th>
            </apex:repeat>
            <apex:repeat value="{!mstmap}" var="key" >
                <apex:repeat value="{!mstmap[key]}" var="k">
                    <tr> 
                        <td> 
                            <apex:outputText value="{0,date,dd-MMM-YYYY}"> 
                                <apex:param value="{!k}" /> 
                            </apex:outputText>
                        </td>
                        <apex:repeat value="{!mstmap}" var="key1" >  
                            <td> <apex:outputText value="{!IF(key1 == key,mstmap[key][k],'0')}"/> </td>
                        </apex:repeat>
                    </tr>
                </apex:repeat>
            </apex:repeat>
        </tr>
    </table>
</apex:pageBlock>
</apex:form>
</apex:page>