.THIS {
    background-color:yellow;
    padding-top :40px;
    padding-left:40px;
}
.THIS.red{
    background-color:red;
}
.THIS.green{
    background-color:pink;
}
.THIS.blue{
    background-color:blue;
}